<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
">
    <context:property-placeholder location="classpath:jdbc.properties" />
    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>
    <bean class="com.yuye.interceptor.MyInterceptor"></bean>

    <bean id="sqlSessionFactory" class="com.baomidou.mybatisplus.extension.spring.MybatisSqlSessionFactoryBean" >
        <property name="dataSource" ref="dataSource"></property>
        <property name="plugins" >
            <array>
                <!--配置分页拦截器-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.PaginationInterceptor"></bean>
                <!--配置乐观锁-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.OptimisticLockerInterceptor"></bean>
                <!--配置性能分析-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.PerformanceInterceptor">
                    <!--格式化sql语句 true表示格式化-->
                    <property name="format" value="true"></property>
                    <!--配置执行sql语句的最大时间单位是ms-->
                    <property name="maxTime" value="100"></property>
                </bean>
                <!--配置分析插件-->
                <bean class="com.baomidou.mybatisplus.extension.plugins.SqlExplainInterceptor">
                    <property name="sqlParserList">
                        <list>
                            <!--配置阻断全表操作分析-->
                            <bean class="com.baomidou.mybatisplus.extension.parsers.BlockAttackSqlParser">
                            </bean>
                        </list>
                    </property>
                </bean>
            </array>
        </property>
        <!--配置枚举类型包扫描路径-->
        <property name="typeEnumsPackage" value="com.yuye.enums"></property>
        <!--配置全局idType属性-->
        <property name="globalConfig">
            <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig">
                <property name="dbConfig">
                    <bean class="com.baomidou.mybatisplus.core.config.GlobalConfig$DbConfig">
                        <property name="idType" value="AUTO"></property>
                        <!--去掉前缀，可以自动匹配类-->
                        <property name="tablePrefix" value="tb_"></property>
                        <!--逻辑删除 删除值为1-->
                        <property name="logicDeleteValue" value="1"></property>
                        <!--逻辑删除 未删除值为-1-->
                        <property name="logicNotDeleteValue" value="-1"></property>
                    </bean>
                </property>
                <property name="sqlInjector">
                    <bean class="com.yuye.injector.MyInjector">
                    </bean>
                </property>
            </bean>
        </property>
    </bean>

    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.yuye.mapper"></property>
    </bean>
    <context:annotation-config></context:annotation-config>
</beans>