<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yuye.ihrm.mapper.CompanyMapper">
    <resultMap id="companyResultMap" type="com.yuye.ihrm.domain.Company">
        <id column="id"  property="id"/>
        <result column="name"  property="name"/>
        <result column="manager_id"  property="managerId"/>
        <result column="version"  property="version"/>
        <result column="renewal_date" property="renewalDate"/>
        <result column="expiration_date"  property="expirationDate"/>
        <result column="company_area"  property="companyArea"/>
        <result column="company_address"  property="companyAddress"/>
        <result column="business_license_id"  property="businessLicenseId"/>
        <result column="legal_representative"  property="legalRepresentative"/>
        <result column="company_phone"  property="companyPhone"/>
        <result column="mailbox"  property="mailbox"/>
        <result column="company_size"  property="companySize"/>
        <result column="industry"  property="industry"/>
        <result column="remarks"  property="remarks"/>
        <result column="audit_state"  property="auditState"/>
        <result column="state"  property="state"/>
        <result column="balance"  property="balance"/>
        <result column="create_time"  property="createTime"/>
    </resultMap>
    <sql id="companyColumns">
        id,
        name,
        manager_id,
        version,
        renewal_date,
        expiration_date,
        company_area,
        company_address,
        business_license_id,
        legal_representative,
        company_phone,
        mailbox,
        company_size,
        industry,
        remarks,
        audit_state,
        state,
        balance,
        create_time
    </sql>
    <sql id="companyProperty">
        #{id},
        #{name},
        #{managerId},
        #{version},
        #{renewalDate},
        #{expirationDate},
        #{companyArea},
        #{companyAddress},
        #{businessLicenseId},
        #{legalRepresentative},
        #{companyPhone},
        #{mailbox},
        #{companySize},
        #{industry},
        #{remarks},
        #{auditState},
        #{state},
        #{balance},
        #{createTime}
    </sql>
    <insert id="insert" parameterType="company">
        insert into co_company <include refid="companyColumns"></include>
        values <include refid="companyProperty"></include>
    </insert>
    <update id="updateById" parameterType="company">
        insert into co_company <include refid="companyColumns"></include>
        values <include refid="companyProperty"></include>
        where id = #{id}
    </update>

</mapper>