<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
">
    <!--mvc注解驱动-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter"></bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/pages/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <!--配置静态资源路径-->
    <mvc:default-servlet-handler/>
    <!--扫描包-->
    <context:component-scan base-package="com.yuye.controller"/>
    <!--配置springmvc拦截器-->
    <mvc:interceptors>
        <mvc:interceptor>
            <!--配置对那些资源执行拦截操作-->
            <mvc:mapping path="/**"/>
            <!--配置对那些资源不拦截-->
            <mvc:exclude-mapping path="/user/login" />
            <mvc:exclude-mapping path="/show" />
            <bean  class="com.yuye.interceptor.LoginInterceptor" />
        </mvc:interceptor>
    </mvc:interceptors>
    <!--配置spring默认exception-->
    <!--<bean class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
        <property name="defaultErrorView" value="error"></property>
        <property name="exceptionMappings">
            <map>
                <entry key="java.lang.ClassCastException" value="error1"></entry>
                <entry key="com.yuye.exception.MyException" value="error2"></entry>
            </map>
        </property>
    </bean>-->
    <!--自定义异常-->
    <bean class="com.yuye.exception.MyExceptionResolver" />
</beans>